/* Licensed Klim web fonts. The files still live with the Svelte client so both
   generations of the app emit the same assets; they move here when apps/web
   is retired. */
@font-face {
  font-family: "Pinkslip Untitled Sans";
  src: url("../../../client/src/assets/fonts/product/untitled-sans-vf-roman.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  size-adjust: 97%;
}

@font-face {
  font-family: "Pinkslip Untitled Sans";
  src: url("../../../client/src/assets/fonts/product/untitled-sans-vf-italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  size-adjust: 97%;
}

@font-face {
  font-family: "Pinkslip Founders Grotesk";
  src: url("../../../client/src/assets/fonts/product/founders-grotesk-semibold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
